{% load static %}
<li class="nav-item dropdown position-relative me-5">
	<a class="nav-link" data-bs-toggle="dropdown" href="#">
		<i class="bi bi-bell-fill fs-5"></i>
		<span
			class="position-absolute start-100 translate-middle badge rounded-pill bg-warning px-2 py-1"
			id="badge"
		>
			15
			<span class="visually-hidden">Mensagens não lidas</span>
		</span>
	</a>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
		<span class="dropdown-item dropdown-header">15 Notificações</span>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item">
			<i class="bi bi-envelope me-2"></i> 4 novas mensagens
			<span class="float-end text-secondary fs-7">3 mins</span>
		</a>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item">
			<i class="bi bi-people-fill me-2"></i> 8 Solicitações de amizade
			<span class="float-end text-secondary fs-7">12 horas</span>
		</a>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item">
			<i class="bi bi-file-earmark-fill me-2"></i> 3 novos relatórios
			<span class="float-end text-secondary fs-7">2 dias</span>
		</a>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item dropdown-footer">
			Ver todas notificações
		</a>
	</div>
</li>
