{% extends "apps/ui/coordenador/perfil/_dashboard_coordenador.html" %}
{% load static %}

{% block content %}
<div class="row filtragem mb-5">
	<div class="header mt-2 mb-4">
    <h4>Alunos do Curso: {{ curso.nome }}</h4>

    </div>
    <form method="get" class="mb-4">
        <div class="row g-2">
            <div class="col-md-6 input-group">
                <label for="turma" class="select-description text-white ps-2 pe-2 pt-2">Turma</label>
                <select name="turma_id" id="turma" class="form-select" onchange="this.form.submit()" required >
                    <option value="">--- Escolha uma turma ---</option>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}" {% if turma == turma_selecionada %}selected{% endif %}>
                            {{ turma.nome }} - {{ turma.classe }} - {{ turma.curso.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
        </div>
    </form>

    {% if turma_selecionada %}

    <!---->
    <!---->
    {% if turma_selecionada %}
   

    <div class="col-auto">
        <a href="{% url 'school:gerar_pdf_alunos_filtrados' %}?turma_id={{ turma_selecionada.id }}" class="btn btn-danger mb-3">
            <i class="bi bi-file-earmark-pdf me-1"></i>  Exportar PDF
        </a>
        
    </div>
{% endif %}

    <!---->
    <!---->

        <h5 class="mt-4 text-primary">Alunos da turma: {{ turma_selecionada.nome }}</h5>
        {% if alunos %}
            <table class="table table-bordered table-striped mt-3">
                <thead class="">
                    <tr class="head">
                        <th class="head-item">Nº</th>
                        
                        <th class="head-item">Nome do Aluno</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                        <tr class="table-primary">
                            <td class="body-counter">{{ forloop.counter }}</td>
                            <!--Image-->
					<td class="body-itens">
						<ul
							class="list-unstyled m-0 avatar-group d-flex align-items-center"
						>
							<li class="avatar avatar-xs pull-up">
								{% if aluno.image %}
								<img
									src="{{ aluno.image.url }}"
									alt="Avatar"
									class="img-perfil rounded-circle"
								/>
								{% else %}
								<img
									src="{% static 'img/default-user.jpg' %}"
									alt="Avatar"
									class="img-perfil rounded-circle"
								/>
								{% endif %}
							</li>
						</ul>
					{{ aluno.nome }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning mt-3">Nenhum aluno encontrado para essa turma.</div>
        {% endif %}
    {% else %}
        <div class="alert alert-info mt-3">Por favor, selecione uma turma para ver os alunos.</div>
    {% endif %}
</div>
{% endblock %}
