{% extends "apps/ui/aluno/perfil/_dashboard_aluno.html" %} {% load static %}
{% block content %}
<div class="row filtragem mb-5">
    <div class="header mt-2 mb-4">
        <h4 class="col mt-5">Histórico de Frequência</h4>
    </div>
    
    <p  class="body-itens"><strong>Aluno:</strong> {{ aluno.nome }}</p>
    <p  class="body-itens"><strong>Turma:</strong> {{ turma.nome }} | <strong>Curso:</strong> {{ curso.nome }} | <strong>Escola:</strong> {{ escola.nome }}</p>

    <div class="mt-3 mb-3 text-primary">
        <strong>Total de Aulas:</strong> {{ total }} |
        <strong>Presenças:</strong> {{ presencas }} |
        <strong>Faltas:</strong> {{ faltas }}
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="head">
                <th class="head-item">Data</th>
                <th class="head-item">Professor</th>
                <th class="head-item">Status</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for f in frequencias %}
            <tr class="table-primary">
                <td class="body-itens">{{ f.data|date:"d/m/Y" }}</td>
                <td class="body-itens">{{ f.professor.nome }}</td>
                <td class="body-itens">
                    {% if f.presente %}
                        <span class="text-success">Presente</span>
                    {% else %}
                        <span class="text-danger">Falta</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr class="table-primary">
                <td colspan="3" class="text-center">Nenhum registro de frequência encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   

    <div class="col-auto">
        <a  href="{% url 'school:frequencia_pdf_aluno' %}" class="btn btn-danger btn-custom">
            <i class="bi bi-file-earmark-pdf me-1"></i> Exportar PDF
        </a>
    </div>
</div>
{% endblock %}
