{% extends "apps/ui/aluno/perfil/_dashboard_aluno.html" %} {% load static %}
<!---->
{% block title %}{% endblock %} {% block content %}

<!---->
{% if request.user.is_authenticated %} {% if request.user.aluno%}

<div class="d-flex justify-content-center align-content-center">
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="profile-card p-4">
					<div class="text-center">
						<div class="head-img text-white rounded-top py-4">
							<p class="p-3"></p>
						</div>
						{% if aluno.image %}
						<img
							src="{{ aluno.image.url }}"
							alt="Foto do Aluno"
							class="profile-image"
						/>
						{% else %}
						<img
							src="{% static 'img/default-user.png' %}"
							alt="Sem imagem"
							class="profile-image"
						/>
						{% endif %}
					</div>
					<div class="card-bodys mt-4">
						<h5 class="view-nome"><strong></strong> {{ aluno.nome }}</h5>
						<h5 class="text-view">
							<strong>Idade: </strong> {{ aluno.idade }}
						</h5>
						<h5 class="text-view">
							<strong>Data de nascimento: </strong> {{ aluno.data_nascimento }}
						</h5>
						<h5 class="text-view">
							<strong>Gênero: </strong> {{ aluno.get_genero_display }}
						</h5>
						<h5 class="text-view">
							<strong>Número de BI: </strong> {{ aluno.bilhete }}
						</h5>
						<h5 class="text-view">
							<strong>Contacto: </strong> {{ aluno.telefone }}
						</h5>
						<h5 class="text-view"><strong>Turma: </strong> {{ turma.nome }}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %} {% endif %} {% endblock %}
