{% extends "base/_dashboard_.html" %} {% block title%}Cadastrar Departamento

<!---->
{% endblock %} {% block content %}

<div class="row filtragem mb-5">
	<div class="header mt-2 mb-4">
		<h4 class="col mt-5">Cadastrar Departamento</h4>
	</div>

	<form action="" method="post" enctype="multipart/form-data" id="formCadastro">
		{% csrf_token %}

		<!--Begin::Messages-->
		{% include "layout/message.html" %}
		<!--End::Messages-->

		<!-- DADOS PESSOAIS -->
		<div id="secao-dados-pessoais" class="fade-in">
			<div class="header-2 mt-3 mb-4">
				<h5>Dados do departamento</h5>
				<hr />
			</div>

			<!-- Campos de dados pessoais -->
			<div class="row">
				<div class="input-group">
					<!-- Nome -->
					<div class="col input-group mb-mb-4 me-4">
						<span class="select-description text-white pt-2 pe-2">
							<i class="bi bi-person text-white ps-2 pe-2 pt-3"></i>Nome
							<i class="asterisco">*</i>
						</span>
						<input
							class="form-control"
							placeholder="Nome"
							type="text"
							name="nome"
							required
						/>
					</div>
						<!--Begin::curso-->
						<div class="col input-group me-4 mb-mb-4">
							<label
								class="select-description text-white ps-2 pe-2 pt-2"
								for="curso"
								><i class="bi bi-collection text-white"></i>     Curso <i class="asterisco">*</i></label
							>
							<select name="curso" class="form-select" id="curso" >
								<option value="" selected>Selecionar...</option>
								{% for c in cursos  %}
								<option value="{{c.id}}" {% if c.id|stringformat:"s" == request.GET.curso %} selected
									
								{% endif %}> {{ c.nome }}</option>
								{% endfor %}
							</select>
						</div>
						<!--End::curso-->
	
				</div>
			</div>
			
	

				<div class="col text-end">
					<button class="btn btn-success" type="submit" id="btnSalvar">
						<span id="iconSalvar"><i class="bi bi-save me-2"></i>Salvar</span>
						<span id="loadingSalvar" class="d-none"
							><i
								class="bi bi-arrow-repeat me-2 spinner-border spinner-border-sm"
							></i
							>Salvando...</span
						>
					</button>

					<button
						class="btn btn-success ms-2"
						type="submit"
						id="btnSalvarCadastrar"
					>
						<span id="iconSalvarCadastrar"
							><i class="bi bi-plus me-2"></i>Salvar e Cadastrar</span
						>
						<span id="loadingSalvarCadastrar" class="d-none"
							><i
								class="bi bi-arrow-repeat me-2 spinner-border spinner-border-sm"
							></i
							>Salvando...</span
						>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
