{% extends "base/_dashboard_.html" %} {% load static %}
<!---->
{% block title%}Visualizar Departamento

<!---->
{% endblock %} {% block content %}

<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="profile-card p-4">
				<div class="text-center">
					<div class="head-img text-white rounded-top py-4">
						
						<p class="p-3"></p>
					</div>

				</div>
				<div class="card-bodys mt-4">
					<h5 class="view-nome"><strong></strong> {{ departamento.nome }}</h5>
					<h5 class="view-nome"><strong>Curso:</strong> {{ curso.nome }}</h5>
					
					<div class="mt-4 text-end">
						<a href="{% url "school:atualizar_departamento" departamento.id %}" class="btn btn-success text-white"><i class="bi bi-pencil me-2 text-white"></i>Editar</a>
						<a href="{% url "school:listar_departamentos" %}" class="btn btn-warning"> <i class="bi bi-arrow-left me-2 text-white"></i>Voltar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
