{% load static %}


<form action="" method="POST">
  {% csrf_token %}

  <div class="row mt-2">
    
		<!--Begin::turma-->
		<div class="col input-group mt-3">
			<label
				class="select-description text-white ps-2 pe-2 pt-2"
				for="turma"
				><i class="bi bi-building text-white"></i>  Turma <i class="asterisco">*</i></label
			>
			<select name="turma" class="form-select" id="turma">
				<option  id="option-select"  value="" selected>Selecionar...</option>
				
        {% for turma in turmas  %}
        
        <option  id="option-select"  value="{{turma.id}}" {% if turma.id|stringformat:"s" == request.GET.turma %} selected{% endif %}>{{turma.nome}}</option>
        
        {% endfor %}
			</select>
		</div>


    <!--End::turma-->
		<!--Begin::disciplina-->
		<div class="col input-group mt-3">
			<label
				class="select-description text-white ps-2 pe-2 pt-2"
				for="disciplina"
				><i class="bi bi-building text-white"></i>  Disciplina <i class="asterisco">*</i></label
			>
			<select name="disciplina" class="form-select" id="disciplina">
				<option  id="option-select"  value="" selected>Selecionar...</option>
				
        {% for disciplina in disciplinas  %}
        
        <option  id="option-select"  value="{{disciplina.id}}" {% if disciplina.id|stringformat:"s" == request.GET.disciplina %} selected{% endif %}>{{disciplina.nome}}</option>
        
        {% endfor %}
			</select>
		</div>


    <!--End::disciplina-->


      


        	<div class="col input-group mt-3">
			<label
				class="select-description text-white ps-2 pe-2 pt-2"
				for="trimestre"
				></i>
        Trimestre <i class="asterisco">*</i></label
			>
			<select name="trimestre" class="form-select" id="trimestre">
				<option  id="option-select"  value="" selected>Selecionar...</option>
	
			
        <option value="1" {% if trimestre == '1' %}selected{% endif %}>1º Trimestre</option>
        <option value="2" {% if trimestre == '2' %}selected{% endif %}>2º Trimestre</option>
        <option value="3" {% if trimestre == '3' %}selected{% endif %}>3º Trimestre</option>
			</select>
		</div>



		<div class="col mt-3">
			<button class="btn-filtrar mt-2" type="submit" name="filtrar"><i class="bi bi-funnel text-white me-2"></i>Filtar</button>
		</div>

	</div>
</form>









