{% load static %}

<div class="row mb-0 ms-2">
	<div class="col mt-2">
		<label for="" class="me-3 mt-2"
			><strong>{{ forloop.counter }}</strong></label
		>

		{% if aluno.image %}
		<img
			src="{{ aluno.image.url }}"
			alt="Avatar"
			class="img-perfil rounded-circle me-2"
			id="img-perfil"
		/>
		{% else %}
		<img
			src="{% static 'img/default-user.jpg' %}"
			alt="Avatar"
			class="img-perfil rounded-circle me-2"
			id="img-perfil"
		/>
		{% endif %}

		<p class="me-5 mt-2">{{ aluno.nome }}</p>
	</div>
	<!--Notas-->
	<div class="col preencher-nota mt-2">
		<!---->
		<div class="me-4 ms-4">
			<div class="label-nota">
				<label for="" class="ms-1">1ª Aval.</label>
			</div>
			<div class="input-nota">
				<input
					type="number"
					step="0.1"
					name="av1_{{ aluno.id }}"
					class="nota av"
					oninput="calcularLinha({{ aluno.id }})"
				/>
			</div>
		</div>
		<!---->
		<!---->
		<div class="me-4 ms-4">
			<div class="label-nota">
				<label for="" class="ms-1">2ª Aval.</label>
			</div>
			<div class="input-nota">
				<input
					type="number"
					step="0.1"
					name="av2_{{ aluno.id }}"
					class="nota av"
					oninput="calcularLinha({{ aluno.id }})"
				/>
			</div>
		</div>
		<!---->
		<!---->
		<div class="me-4 ms-4">
			<div class="label-nota">
				<label for="" class="ms-1">3ª Aval.</label>
			</div>
			<div class="input-nota">
				<input
					type="number"
					step="0.1"
					name="av3_{{ aluno.id }}"
					class="nota av"
					oninput="calcularLinha({{ aluno.id }})"
				/>
			</div>
		</div>
		<!---->
		<!---->
		<div class="me-4 ms-4">
			<div class="label-nota">
				<label for="" class="ms-1">4ª Aval.</label>
			</div>
			<div class="input-nota">
				<input
					type="number"
					step="0.1"
					name="av4_{{ aluno.id }}"
					class="nota av"
					oninput="calcularLinha({{ aluno.id }})"
				/>
			</div>
		</div>
		<!---->
		<!---->
		<div class="me-4 ms-4">
			<div class="label-nota">
				<label for="" class="ms-3">MAC</label>
			</div>
			<div class="input-nota">
				<input
					type="number"
					name="mac_{{ aluno.id }}"
					class="nota mac"
					readonly
				/>
			</div>
		</div>
		<!---->
		<!---->
		<div class="me-4 ms-4">
			<div class="label-nota">
				<label for="" class="ms-3">NPP</label>
			</div>
			<div class="input-nota">
				<input
					type="number"
					step="0.1"
					name="npp_{{ aluno.id }}"
					class="nota npp"
					oninput="calcularLinha({{ aluno.id }})"
				/>
			</div>
		</div>
		<!---->
		<!---->
		<div class="me-4 ms-4">
			<div class="label-nota">
				<label for="" class="ms-3">NPT</label>
			</div>
			<div class="input-nota">
				<input
					type="number"
					step="0.1"
					name="npt_{{ aluno.id }}"
					class="nota npt"
					oninput="calcularLinha({{ aluno.id }})"
				/>
			</div>
		</div>
		<!---->
		<!---->
		<div class="me-4 ms-4">
			<div class="label-nota">
				<label for="" class="ms-3">MT</label>
			</div>
			<div class="input-nota">
				<input
					type="number"
					name="mt_{{ aluno.id }}"
					class="nota mt"
					readonly
				/>
			</div>
		</div>
		<!---->
	</div>
</div>
