.cards {
	border: 2px solid #f80f8f;
	border-bottom: 2px solid #f80f8f;
	border-right: 2px solid rgb(6, 24, 58);
	border-left: 2px solid rgb(6, 24, 58);
	background: linear-gradient(to right, rgb(14, 40, 90), rgb(10, 56, 141));
	border-radius: 25px;
	box-shadow: 1px 4px 1px cyan;
}

thead tr {
	border-top: 2px solid cyan;
	border-bottom: 5px solid cyan;
	border-right: 5px solid #f80f8f;
	border-left: 5px solid #f80f8f;
	box-shadow: 1px 2px 1px #f80f8f;
}
thead .head {
	background-color: #f80f8f;
}
thead tr .head-item {
	color: rgb(7, 32, 78);
}

tbody .body-counter {
	color: #f80f8f;
	font-weight: bold;
}

tbody .btn {
	color: #f80f8f;
	font-weight: bold;
}

tbody .img-perfil {
	border: 1px solid #f80f8f;
	width: 40px;
	height: 40px;
}

tbody .body-itens {
	color: rgb(7, 32, 78);
}
