{% load static %}


<form action="" method="get">
	<div class="row filtragem mb-5">
		<div class="header mt-2 mb-4">
			<h4 class="col mt-5">Certificados</h4>
 
		</div>

		<div class="header-2 mt-3 mb-4">
			<h5>Listar aluno</h5>
			<hr />
		</div>

<!-- Nome -->
<div class="col input-group mb-mb-4 me-4">
	<span class="select-description text-white pt-2 pe-2">
		<i class="bi bi-person text-white ps-2 pe-2 pt-3"></i>Nome
		<i class="asterisco">*</i>
	</span>
	<input
		class="form-control"
		placeholder="Nome"
		type="text"
		name="nome"
		required

		
	/>
</div>

		<!--Begin::Turma-->
		<div class="col input-group mt-2 me-5">
			<label
				class="select-description text-white ps-2 pe-2 pt-2"
				for="turma"
				><i class="bi bi-people text-white"></i> Turma	<i class="asterisco">*</i></label
			>
			<select name="turma" class="form-select" id="turma"  > 
				<option value="" selected>Selecionar...</option>
        {% for t in turmas  %}
        <option value="{{t.id}}" {% if t.id|stringformat:"s" == request.GET.turma %} selected
          
        {% endif %}> {{ t.nome }} - {{ t.classe }} - {{ t.curso.nome }}</option>
        {% endfor %}
			</select>
		</div>
		<!--End::Turma-->

				

 <div class="col mt-3">	<button type="submit" class="btn-filtrar">Filtrar</button>
 </div>


	
	</div>


</form>