{% extends "base/_dashboard_.html" %} {% load static %}
<!---->
{% block title%}
<!---->
Pedagógico{% endblock %}

<!---->

{% block content %}

<!---->

<div class="row filtragem mb-5">
	<div class="header mt-2 mb-4">
		<h4 class="col mt-5">Disciplinas Atribuídas</h4>

		<a href="{% url "school:atribuir_turma_disciplina" %}" class="add-link mt-3">
			<i class="bi bi-plus text-white"></i>Atribuir
		</a>
	</div>

	<div class="header-2 mt-3 mb-4">
		<h5>Listagem de atribuições </h5>
		<hr />
	</div>

	<!--Begin::Messages-->
	{% include "layout/message.html" %}
	<!--End::Messages-->

	<!--Begin::Listagem de disciplina-->
	{% include "apps/instituicao/pedagogico/disciplina_turma/tabela.html" %}
	<!--End::Listagem de  disciplina-->
</div>
{% endblock %}
