{% extends "base/_dashboard_.html" %} {% load static %}

<!---->
{% block title %} Eliminar Curso
<!---->
{% endblock %} {% block content %}

<div class="container d-flex justify-content-center">
	<div class="col-md-6 confirm-box text-center">
		<div class="head-img text-white rounded-top py-2">
			<p class="">Tem certeza que deseja eliminar este Curso?</p>
			<h5 class="mb-2 text-view text-white">
				<strong>{{ curso.nome }}</strong>
			</h5>
		</div>

		<p class="text-muted text-view mt-3">
			<strong>Modalidade:</strong> {{ curso.get_modalidade_display }}
		</p>
		<p class="text-muted text-view mt-3">
			<strong>Nível:</strong> {{ curso.get_nivel_display }}
		</p>
		<p class="text-muted text-view mt-3">
			<strong>Escola:</strong> {{ escola.nome }}
		</p>
		<p class="text-muted text-view mt-3">
			<strong>Descrição:</strong> {{ curso.descricao }}
		</p>

		<form method="post" class="mt-4">
			{% csrf_token %}
			<div class="d-grid gap-2 d-md-block">
				<button type="submit" class="btn btn-danger ps-3 pe-3">
					<i class=""></i>Sim
				</button>
				<a
					href="{% url 'school:listar_disciplinas' %}"
					class="btn btn-secondary px-4"
					>Cancelar</a
				>
			</div>
		</form>
	</div>
</div>

{% endblock %}
