<div class="dropdown">
	<button
		type="button"
		class="btn p-0 bi bi-three-dots-vertical"
		data-bs-toggle="dropdown"
	></button>
	<div class="dropdown-menu">
		<a
			class="dropdown-item"
			href="{% url 'school:visualizar_classe' classe.id %}"
		>
			<i class="bi bi-eye me-1"></i> Visualizar
		</a>
		{% if request.user.is_superuser %}
		<a
			class="dropdown-item"
			href="{% url 'school:atualizar_classe' classe.id %}"
		>
			<i class="bi bi-pencil me-1"></i> Editar
		</a>
		<a
			class="dropdown-item"
			href="{% url 'school:eliminar_classe' classe.id %}"
		>
			<i class="bi bi-trash me-1"></i> Eliminar
		</a>
		{% endif %}
	</div>
</div>
