{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>smartSchool- {% block title %}{% endblock %}</title>
		<!--Begin::-->
		<script src="{% static 'js/chart/border-radius-stacked-number-mixed-chart.js' %}"></script>
		<script src="{% static 'js/chart/chart-area-clip.js' %}"></script>
		<script src="{% static 'js/chart/chart-options-colors.js' %}"></script>
		<script src="{% static 'js/chart/chart.js' %}"></script>

		<!--::-HEAD-::-->
		{% include "layout/header.html" %} {% include "layout/status.html" %}
	</head>
	<body class="">
		<div class="container-fluid">
		<div class="wrapper">
			<!--::-SIDEBAR-::-->
			{% include "layout/sidebar/sidebar.html" %}

			<!--::-PAGE CONTENT-::-->

			<div id="content">
				<!--::-NAVBAR-::-->
				{% include "layout/navbar/navbar.html" %}
				<!--::-MAIN CONTENT-::-->

				<div class="container-fluid p-4">
					{% block content %}
					<!---->
					{% endblock %}
					<!---->
				</div>
				</div>
			</div>
		</div>

		<!--::-SCRIPTS JS-::-->
		{% include "layout/_scripts_js.html" %}
	</body>
</html>
