{% extends "apps/instituicao/escola/perfil/dashboard_admin.html" %}
<!---->
{% load static %}
<!---->
{% block title%}Visualizar Direitor

<!---->
{% endblock %} {% block content %}

<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="profile-card p-4">
				<div class="text-center">
					<div class="head-img text-white rounded-top py-4">
						<p class="p-3"></p>
					</div>
					{% if pedagogico.image %}
					<img
						src="{{ pedagogico.image.url }}"
						alt="Foto do Professor"
						class="profile-image"
					/>
					{% else %}
					<img
						src="{% static 'img/default-user.png' %}"
						alt="Sem imagem"
						class="profile-image"
					/>
					{% endif %}
				</div>
				<div class="card-bodys mt-4">
					<h5 class="view-nome"><strong></strong> {{ pedagogico.nome }}</h5>
					<h5 class="text-view">
						<strong>Número de Agente: </strong> {{ pedagogico.numAgente }}
					</h5>
					<h5 class="text-view">
						<strong>Gênero: </strong> {{ pedagogico.get_genero_display }}
					</h5>

					<div class="mt-4 text-end">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
