{% load static %} {% if cursos.exists %}

<div class="card">
	<h5 class="card-header text-white"></h5>
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
				<tr class="head">
					<th class="head-item">Nº</th>
					<th class="head-item">Nome</th>
					<th class="head-item">Modalidade</th>
					<th class="head-item">Nível</th>
					<th class="head-item">Escola</th>
					<th class="head-item">Ações</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				{% for curso in cursos %}
				<tr class="table-primary">
					<td class="body-counter">{{forloop.counter}}</td>

					<td>
						<span class="body-itens">{{curso.nome}}</span>
					</td>

					<!---->

					<td class="body-itens">{{curso.get_modalidade_display}}</td>
					<td class="body-itens">{{curso.get_nivel_display}}</td>
					<td class="body-itens">{{curso.escola.nome}}</td>

					<td>
						<div class="dropdown">
							<button
								type="button"
								class="btn p-0 bi bi-three-dots-vertical"
								data-bs-toggle="dropdown"
							>
								<i class=""></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{% url "school:visualizar_curso" curso.id %}"
									><i class="bi bi-eye me-1"></i>Visualizar</a
								>
								<a class="dropdown-item" href="{% url 'school:atualizar_curso' curso.id %}"
									><i class="bi bi-pencil me-1"></i>Editar</a
								>
								<a class="dropdown-item" href="{% url "school:eliminar_curso" curso.id %}"
									><i class="bi bi-trash me-1"></i>Eliminar</a
								>
							</div>
						</div>
					</td>
				</tr>

				{% endfor %}
				<!---->
			</tbody>
		</table>
	</div>
</div>

{% else %}
<div class="alert alert-danger">Não existe nenhum curso cadastrada!</div>
{% endif %}
