<!---->
<!---->
<li class="nav-item mt-2">
	<a
		id="menu-opcao"
		class="nav-link d-flex justify-content-between align-items-center"
		href="{% url "school:listar_atribuicao" %}"
	>
		<span> <i class="bi bi-person-bounding-box me-2"></i>Turmas e Disciplinas </span>
		<i class="transition rotate-icon"></i>
	</a>
</li>
<!---->
<!---->
<!---->
<!---->
<li class="nav-item mt-2">
	<a
		id="menu-opcao"
		class="nav-link d-flex justify-content-between align-items-center"
		href="{% url 'school:trimestres_liberar' %}"
	>
		<span> <i class="bi bi-lock me-2"></i> Desbloquear trimestre </span>
		<i class="transition rotate-icon"></i>
	</a>
</li>
<!---->
<!---->
<!---->
<!---->
<li class="nav-item mt-2">
	<a
		id="menu-opcao"
		class="nav-link d-flex justify-content-between align-items-center"
		href="{% url 'school:desempenho' %}"
	>
		<span> <i class="bi bi-graph-up me-2"></i>Emitir Relatórios </span>
		<i class="transition rotate-icon"></i>
	</a>
</li>
<!---->
<!---->
<!---->
<!---->
<li class="nav-item mt-2">
	<a
		id="menu-opcao"
		class="nav-link d-flex justify-content-between align-items-center"
		href="{% url 'school:aprovar_pedidos' %}"
	>
	 <span> <i class="bi bi-person me-2"></i>Aprovar pedidos </span>
		<i class="transition rotate-icon"></i>
	</a>
</li>
<!---->
<!---->
<!---->
<!---->
<li class="nav-item mt-2">
	<a
		id="menu-opcao"
		class="nav-link d-flex justify-content-between align-items-center"
		href="{% url "school:perfil" %}"
	>
		<span> <i class="bi bi-person me-2"></i>Meu Perfil </span>
		<i class="transition rotate-icon"></i>
	</a>
</li>
<!---->
<!---->
