<!-- Minhas Notas -->
<li class="nav-item mt-2">
  <a
    id="menu-opcao"
    class="nav-link d-flex justify-content-between align-items-center"
    href="{% url 'school:minhas_notas' %}"
  >
    <span><i class="bi bi-journal-text me-2"></i> Minhas Notas</span>
    <i class="transition rotate-icon"></i>
  </a>
</li>

<!-- Horário -->
<li class="nav-item mt-2">
  <a
    id="menu-opcao"
    class="nav-link d-flex justify-content-between align-items-center"
    href="{% url 'school:horario_turma_aluno' %}"
  >
    <span><i class="bi bi-calendar-week me-2"></i> Horário</span>
    <i class="transition rotate-icon"></i>
  </a>
</li>

<!-- Frequência -->
<li class="nav-item mt-2">
  <a
    id="menu-opcao"
    class="nav-link d-flex justify-content-between align-items-center"
    href="{% url 'school:frequencia_aluno' %}"
  >
    <span><i class="bi bi-clipboard-check me-2"></i> Frequência</span>
    <i class="transition rotate-icon"></i>
  </a>
</li>
