{% load static %}

<!--Begin::-->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!--Begin::-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!--Begin::-->
<script src="{% static 'js/sidebarCollapsed.js' %}"></script>
<!--Begin::-->
<script src="{% static 'js/changeIcons.js' %}"></script>
<script src="{% static 'js/fullScrean.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>
<script src="{% static 'js/preencher_notas.js' %}"></script>
<script src="{% static 'js/auth/messages.js' %}"></script>

<!---->
<!---->
<!---->
<script src="{% static 'js/aos.js' %}"></script>
<script>
	AOS.init();
</script>
