{% load static %}
<footer class="text-white py-1 mt-4 bg-primary">
	<div class="container">
		<div class="row text-center text-md-start">
			<div class="col-md-4 mb-1">
				<h5 class="fw-bold"><i class="bi bi-mortarboard"></i> SmartSchool</h5>
				<p class="mb-0">Sistema de Gestão Escolar Integrado</p>
			</div>
			<div class="col-md-4 mb-1">
				<h5 class="fw-bold"><i class="bi bi-person"></i> Desenvolvedor</h5>
				<p class="mb-0">Maurício Damásio</p>
			</div>
			<div class="col-md-4 mb-1">
				<h5 class="fw-bold">© {{ year }} Todos os direitos reservados</h5>
				<p class="mb-0">Versão 1.0 | Código: 5025</p>
			</div>
		</div>
	</div>
</footer>
