{% load static %}

<!--::-BOOTSTRAP CSS-::-->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

<!--::-BOOTSTRAP ICON-::-->
<link
	rel="stylesheet"
	href="{% static 'icon/font/bootstrap-icons.min.css' %}"
/>

<!--::-NAVBAR CSS-::-->
<link rel="stylesheet" href="{% static 'custom/css/navbar.min.css' %}" />

<!--::-SIDEBAR CSS-::-->
<link rel="stylesheet" href="{% static 'custom/css/sidebar.min.css' %}" />

<!--::-COLLAPSED CSS-::-->
<link rel="stylesheet" href="{% static 'custom/css/collapsed.min.css' %}" />

<!--::-MAIN CONTENT CSS-::-->
<link rel="stylesheet" href="{% static 'custom/css/mainContent.min.css' %}" />

<!--::-ANIMATION-::-->
<link rel="stylesheet" href="{% static 'animation/animate.min.css' %}" />

<!--::-FAVICON-::-->
<link rel="icon" href="{% static 'favicon/mortarboard.svg' %}" />

<!--::-CSS Tabela-::-->
<link rel="stylesheet" href="{% static 'css/tabela.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />

<link rel="stylesheet" href="{% static 'animation/forms.css' %}" />
<link rel="stylesheet" href="{% static 'animation/styles.css' %}" />

<link rel="stylesheet" href="{% static 'custom/css/messages.css' %}" />
<link rel="stylesheet" href="{% static 'custom/minipauta.css' %}" />
<link rel="stylesheet" href="{% static 'custom/ui/forms.min.css' %}" />
