{% extends "base/_dashboard_.html" %} {% load static %}
<!---->
{% block title%}
<!---->
Professor{% endblock %}

<!---->

{% block content %}

<!---->

<div class="row filtragem mb-5">
  <div class="header mt-2 mb-4">
    <h4 class="col mt-5">Professores</h4>

    <a href="{% url "school:cadastrar_professor" %}" class="add-link mt-3">
      <i class="bi bi-plus text-white"></i>Cadastrar
    </a>
  </div>

  <div class="header-2 mt-3 mb-4">
    <h5>Listagem de Professores</h5>
    <hr />
  </div>
<!--Begin::Filtro-->
{% include "apps/ui/professor/layout/filtrar.html"  %}
<!--End::Filtro-->



<!--Begin::Messages-->
{% include "layout/message.html" %}
<!--End::Messages-->

<!--Begin::Listagem de Professores-->
{% include "apps/ui/professor/layout/tabela.html" %}
<!--End::Listagem de  Professores-->

{% endblock %}
