{% extends "base/_dashboard_.html" %}
{% block  title%}Atualizar Aluno{% endblock  %}
{% block content %}

<div class="row filtragem mb-5">
  <div class="header mt-2 mb-4">
    <h4 class="col mt-5">Atualizar Aluno</h4>

    
  </div>

  <div class="header-2 mt-3 mb-4">
    <h5>Dados do aluno</h5>
    <hr />
  </div>
  <div class="dados-perfil mb-5">
    {% if aluno.image %}
    <img src="{{ aluno.image.url }}" alt="Imagem atual" class="nav-image mt-2">
{% endif %}

<h4 class="nome">{{aluno.nome}}</h4>

  </div>


<!--Begin::Messages-->
{% include "layout/message.html" %}
<!--End::Messages-->


<form  method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  

  	<!-- DADOS PESSOAIS -->
		<div id="secao-dados-pessoais" class="fade-in">
			

     

			<!-- Campos de dados pessoais -->
			<div class="row">
				<div class="input-group">
					<!-- Nome -->
					<div class="col input-group mb-mb-4 me-4">
						<span class="select-description text-white pt-2 pe-2">
							<i class="bi bi-person text-white ps-2 pe-2 pt-3"></i>Nome
							<i class="asterisco">*</i>
						</span>
						<input
							class="form-control"
							placeholder="Nome"
							type="text"
							name="nome"
              value="{{aluno.nome}}"
							required
						/>
					</div>
					<!--Begin::Gênero-->
					<div class="col input-group mb-mb-3 me-4">
						<span class="select-description text-white pt-2 pe-2">
							<i class="bi bi-gender-ambiguous text-white ps-2 pe-2 pt-3"></i>
							Gênero <i class="asterisco">*</i>
						</span>
						<select name="genero" id="genero" class="form-select">
							<option value="">Selecionar...</option>
							<option value="M" {% if aluno.genero == "M" %}selected{% endif %}>Masculino</option>
							<option value="F" {% if aluno.genero == "F" %}selected{% endif %}>Femenino</option>
						</select>
					</div>
					<!--End::Gênero-->
				</div>
			</div>
			<div class="row">
				<div class="input-group">
					<!--Begin::Idade-->
					<div class="col input-group mb-mb-3 me-4">
						<span class="select-description text-white pt-2 pe-2">
							<i class="bi bi-hourglass text-white ps-2 pe-2 pt-3"></i>Idade
							<i class="asterisco">*</i>
						</span>
						<input
							class="form-control"
							placeholder="Idade"
							type="number"
							min="1"
							min="100"
							name="idade"
              value={{aluno.idade}}
							required
						/>
					</div>
					<!--End::Idade-->

					<!--Begin::Bilhete -->
					<div class="col input-group mb-mb-4 me-4">
						<span class="select-description text-white pt-2 pe-2">
							<i class="bi bi-card-text text-white ps-2 pe-2 pt-3"></i> Bilhete
							<i class="asterisco">*</i>
						</span>
						<input
							class="form-control"
							placeholder="Bilhete"
							type="text"
							name="bilhete"
              value="{{aluno.bilhete}}"
							required
						/>
					</div>
					<!--End::Bilhete -->
				</div>
			</div>

			<div class="row">
				<div class="input-group">
					<!--Begin::Telefone-->
					<div class="col input-group mb-4 me-4">
						<span class="select-description text-white pt-2 pe-2">
							<i class="bi bi-telephone text-white ps-2 pe-2 pt-3"></i>Telefone <i class="asterisco">*</i>
						</span>
						<input
							class="form-control"
							placeholder="Telefone"
							type="text"
              value="{{aluno.telefone}}"
							name="telefone"
              
							required
						/>
					</div>
					<!--End::Telefone-->

					<!--Begin::Imagem-->
					<div class="col input-group mb-4 me-4">
						<span class="select-description text-white pt-2 pe-2">
							<i class="bi bi-image text-white ps-2 pe-2 pt-3"></i> Nova imagem
						</span>
						<input
							class="form-control"
							placeholder="Imagem"
							type="file"
							name="image"
					
						/>
					</div>
					<!--End::Imagem-->
				</div>
			</div>
      
        
        
        
      <div class="row mt-3">
        <div class=" input-group"> 
       
              <!-- Data nascimento -->
					<div class="col input-group mb-mb-4 me-4">
						<span class="select-description text-white pt-2 pe-2">
							<i class="bi bi-calendar-event text-white ps-2 pe-2 pt-3"></i>Data 	de nascimento 
						<i class="asterisco">*</i>
						</span>
						<input
							class="form-control"
							type="date"
							name="data_nascimento"
              value={{aluno.data_nascimento|date:"Y-m-d"}}
							required
						/>
					</div>

        <!--Begin::Turma-->
        <div class="col input-group me-4">
          <label
            class="select-description text-white ps-2 pe-2 pt-2"
            for="turma"
            ><i class="bi bi-people text-white"></i>    Turma <i class="asterisco">*</i></label
          >
          <select name="turma" class="form-select" id="turma">
            <option selected>Selecionar...</option>
            {% for t in turmas  %}
            <option value="{{t.id}}" {% if t.id == aluno.turma.id %} selected
              
            {% endif %}> {{ t.nome }} - {{ t.classe }} - {{ t.curso.nome }}</option>
            {% endfor %}
          </select>
        </div>
        <!--End::Turma-->

        

  </div>
</div>

<div class="row button-groups ms-2 me-5 mt-4">
  <div class="col text-center">
    <button class="btn btn-success" type="submit" id="btnSalvar">
      <span id="iconSalvar"><i class="bi bi-save me-2"></i>Atualizar</span>
      <span id="loadingSalvar" class="d-none"
        ><i
          class="bi bi-arrow-repeat me-2 spinner-border spinner-border-sm"
        ></i
        >Atualizando...</span
      >
    </button>

  </div>
</div>
</div>
</div>



</form>





       
    



 




 

{% endblock  %}                           